.bote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 7.5vh;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 /26%);
  transition: transform 0.1s ease-out;
}

.imagen {
  width: 25%;
}
.imagen-bote{
  width: 35px;
  height: 35px;
  margin-left: 25%;
}

.texto-bote {
  margin-left: 6%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.texto-bote p {
  margin: 0;
  font-size: small;
}
.tipo p {
  margin: 0;
  margin-right: 10px;
  font-size: small;
}
.tipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
}
.bote:hover {
  transform: translateY(-8px);
}
