@font-face {
    font-family: "SequelSansSemiBold";
    src: url("/src/fonts/SequelSansSemiBoldDisp.ttf");
  }
  
  @font-face {
    font-family: "SequelSansMedium";
    src: url("/src/fonts/SequelSansMediumDisp.ttf");
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140%;
    height: 8.5vh;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /26%);
    transition: transform 0.1s ease-out;
    margin-bottom: 7%;
  }
  
  .img {
    width: 25%;
  }
  .imagen-pin{
    width: 35px;
    height: 35px;
  }
  
  .informacion {
    margin-left: 1.75%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .informacion p {
    font-family: "SequelSansMedium";
    margin: 0;
    font-size: 0.875rem;
  }
  .tipo p {
    font-family: "SequelSansSemiBold";
    margin: 0;
    margin-right: 10px;
    font-size: 0.82rem;
  }
  .tipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    color: rgb(107, 107, 107, 0.5);
  }
  .card:hover {
    transform: translateY(-3px);
  }
  
  .porcentaje{
    text-align: right;
  }
  
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  .progress-bar {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .progress-bar .CircularProgressbar-text {
    font-size: 12px;
    fill: #00FF00;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  
  .progress-bar .CircularProgressbar-trail {
    stroke: #f0f0f0;
  }
  
  .progress-bar .CircularProgressbar-path {
    stroke: #00FF00;
  }
  
  /* width->ancho | height->alto*/
@media screen and (min-width: 1920px) {
  div .info {
    margin-bottom: 16vh;
    width: 150%;
    margin-left: 5vh;
  }

  div.sujeto, div.titulo {
    padding-left: -10vh;
  }

  div.progress-bar {
    position: fixed;
    margin-left: 15vh;
  }

  .img {
    width: 25%;
  }
  .imagen-pin{
    width: 35px;
    height: 35px;
    padding-left: 5px;
  }
}