.contenedor-principal > * {
  margin-left: 50px;
}

.contenedores {
  padding: 10px 10px 0 8px;
}
.logo-nombre {
  margin-top: 0.5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-width: 2rem;
  margin-right: 5px;
}

.componentes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.barra-izquierda {
  width: 67%;
  overflow: hidden;
}

.barra-derecha {
  margin-left: 5px;
  width: 88%;
  overflow: hidden;
}

.contenedor-principal .contenedores > * {
  margin-bottom: 10px;
}

.mapa {
  min-width: 50%;
  min-height: 50%;
  max-width: 60%;
  max-height: 60%;
  border-radius: 5%;
}
