@font-face {
  font-family: "SequelSansSemiBold";
  src: url("./fonts/SequelSansSemiBoldDisp.ttf");
}

@font-face {
  font-family: "SequelSansMedium";
  src: url("./fonts/SequelSansMediumDisp.ttf");
}

.Nombre {
  margin-left: 0.45%;
  font-family: "SequelSansMedium";
}

.logo-nombre {
  margin-top: 0.5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-width: 2.5rem;
  margin-right: 5px;
}

.componentes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.barra-izquierda {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.barra-derecha {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.mapa {
  width: 90%;
  height: 90%;
  border-radius: 5%;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 60%;
}

/*MAPITA JUAN*/
.leaflet-container {
  width: 100%;
  height: 100%;
}
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  background: #000000;
  color: #f0f0f0;
}

.map-container .leaflet-tile-container {
  background-size: 120% !important;
}

/* width->ancho | height->alto*/
@media screen and (min-width: 1920px) and (min-height: 1080px) {
  /* * {
    border: blue 1px solid; 
  } acomodar elementos popup  */

  body {
    font-size: 20px;
  }

  /* Modificado */
  .componentes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: auto;
    /* background-color: brown; */
  }

  .barra-izquierda {
    display: flex;
    height: 72vh;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: aqua; */
  }

  .barra-derecha {
    width: 20%;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: aquamarine; */
  }

  .mapa {
    width: 80%;
    height: 80%;
    border-radius: 25%;
  }

  .centro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 60vw;
    /* background-color:blueviolet; */
  }

  /*MAPITA JUAN*/
  .leaflet-container {
    width: 100%;
    height: 100%;
  }
  .leaflet-popup-tip,
  .leaflet-popup-content-wrapper {
    background: #000000;
    color: #f0f0f0;
  }

  .map-container .leaflet-tile-container {
    background-size: 120% !important;
  }
}


