@font-face {
  font-family: "SequelSansSemiBold";
  src: url("./fonts/SequelSansSemiBoldDisp.ttf");
}

@font-face {
  font-family: "SequelSansMedium";
  src: url("./fonts/SequelSansMediumDisp.ttf");
}
body{
  padding: auto;
  margin: auto;
}

.Nombre {
  margin-left: .45%;
  font-family: "SequelSansMedium";

}



.logo-nombre {
  width: 100%;
  height: 15%;
  /*margin-top: 0.5%;*/
  /* margin-left: 5%; */
  display: flex;
  /* margin-bottom: 2%; */
  align-items: center;
  flex-direction: row;
}

.mover{
  width: 10%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  max-width: 2.5rem;
  margin-right: 5px;
}

.componentes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.barra-izquierda {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.barra-derecha {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.mapa {
  width: 90%;
  height: 90%;
  border-radius: 5%;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 60%;
}

/*MAPITA JUAN*/
.leaflet-container{
  width: 100%;
  height: 100%;
}
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  background: #000000;
  color: #f0f0f0;
}

.map-container .leaflet-tile-container {
  background-size: 120% !important;
}

.contenedor-principal{
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  position: relative;
}
